

header{
    display:flex;
    justify-content: space-between;
    background: gray;
    weight: 200%;
    heigth: 20%;
    flex:sticky;
    border-radius: 0.2rem;
}
#left{
    display:flex;
    justify-content: space-around;
    paddding-left: 10rem;
    text-size: 50px;
    flex:sticky;
}
#center{
    justify-content:space-between;
    flex:sticky;
}
#right{
    display:flex;
    padding-left:650px;
    gap: 30px;
    flex:sticky;
    justify-content:space-between;
}
#a{
  display:flex;
  flex:sticky;
  padding-left:700px;
  text-size: 20px;
  margin-top: 15px;
}
image{
    height: 30px;
    weight:10px;
}
.box{
    background: #2EB8A5;
}
.image{
    background: red;
}
#background {
    background: url("https://static1.educaedu.com.mx/adjuntos/9/00/64/uach---universidad-aut-noma-de-chihuahua-006431_large.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}
