*{
    height:140px;
    weight:10px;
    background-color:#565d69;
}

/* GABO*/
header{

    top:0;
    width:100%;
    background-color:#95cfd0;
    text-align:center;
    font-size:60px;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 99999;
}

nav {
    display:flex;
    gap: 100px;
    padding: 0.5rem;
    margin-top: 10;
    margin-bottom: 1;

    background-color:#d0ecf4;
}

/* GABO*/


#spacearound {
    padding: 1rem;
    display:flex;
    justify-content: space-around;
}

.box{
    text-align: left;
    height: 100%
}

#footer{
top:12;
justify-content: left;
padding: 10rem;

}
p{

    font-size: 25px;
    padding: 1rem;
    text-align:left;
}
